.margin-top-default {
    margin-top: 8px;
}

body {
    background-color: black;
    color: white;
}

.btn-secondary {
    background-color: grey;
}

.card-header {
    background-color: #3E3E3E;
}

.card-body {
    background-color: #585858;
}

.card {
    border-color: white;
}