<html>
<head>
    {% if title %}
    <title>{{ title }} - Vertretungsplan</title>
    {% else %}
    <title>Vertretungsplan</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" id="pagestyle" href="/static/style-dark.css">
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
    <br>
    <button id="lightmode" class="btn btn-primary" onclick="toggle_mode()">Zum Lightmode wechseln</button>

</div>
<script>
    function changestyle(scheme) {
      document.getElementById("pagestyle").setAttribute("href", scheme);
    }

    function toggle_mode() {
        if (document.getElementById("pagestyle").getAttribute("href") === "/static/style.css") {
            changestyle("/static/style-dark.css")
            document.getElementById("lightmode").innerHTML = "Zum Lightmode wechseln";
        } else {
            changestyle("/static/style.css")
            document.getElementById("lightmode").innerHTML = "Zum Darkmode wechseln";
        }

    }


</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>


