{% extends "base.html" %}
{% block content %}
<div class="container">
    <br>
    <center><h1>Einstellungen</h1></center>
    <div class="login">
        <div class="form-group">
            <form method="post" action="/">
                <label for="class">Klasse:</label>
                <input type="text" class="form-control" id="class" name="class">
                <br>
                <input type="submit" class="btn btn-info" name="login" value="Weiter">
            </form>
        </div>
    </div>
</div>

{% endblock %}
