{% extends "base.html" %}
{% block content %}


<div class="container">
    <br>
    <center><h1>Einstellungen</h1></center>
    <div class="login">
        <div class="form-group">
            <form method="post" action="/settings/">
                <label>
                    <input type="checkbox" name="darkmode" value="darkmode">
                    Darkmode
                </label>
                <br>
                <input type="submit" class="btn btn-info" name="login" value="Speichern">
                <a href="/"><input type="button" class="btn btn-secondary" name="login" value="Home"></a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
