{% extends "base.html" %}
{% block content %}



<br>
<h1 style="text-align:center">{{ schoolclass }}</h1>
<small class="text-muted">Mathe Deutsch bedeutet: Mathe <b>fällt aus</b> und wird durch Deutsch <b>ersetzt.</b></small>
{% for entry in plan %}
    <div class="card bg-primary text-white margin-top-default">
        <div class="card-header">{{ entry.time }}</div>
        <div class="card-body">{{ entry.content }}</div>

    </div>
{% endfor %}

{% endblock %}
